<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Tumblelog</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>.content {padding-top: 80px;} a.brand {color: #fff }</style>
    <style type="text/css">
      .form-control::-webkit-input-placeholder { color:  #8fe0fe; }
      .form-control:-moz-placeholder { color:  #8fe0fe; }
      .form-control::-moz-placeholder { color:  #8fe0fe; }
      .form-control:-ms-input-placeholder { color:  #8fe0fe; }
      body {font-family: Helvetica}
  </style>
  </head>

  <body>

   

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
