{% macro render(form) -%}
<fieldset>
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
  {{ field() }}
{% else %}
  <div class="form-group row{% if field.errors %}error{% endif %}">
    <div class="input col-xs-10 col-xs-offset-1">
      {% if field.name == "about_you" %}
        <textarea cols="40" class="form-control input-lg" placeholder="说点什么，关于你（选填）" id="about_you" style="border-radius:7px;border-color: #27bbef" name="about_you" rows="10" >{% if field.data %}
            field.data
          {% endif %}</textarea>
      {% else %}
        {% if field.name == "slug" %}
          <input id={{ field.name }} placeholder="姓名" class="form-control input-lg" name={{ field.name }} style="border-radius:7px;border-color: #27bbef" type="text" value=
          {% if field.data %}
            field.data
          {% endif %}
          >
        {% endif %}
        {% if field.name == "school" %}
          <input id={{ field.name }} placeholder="学校" class="form-control input-lg" name={{ field.name }} style="border-radius:7px;border-color: #27bbef" type="text" value=
          {% if field.data %}
            field.data
          {% endif %}
          >
        {% endif %}
        {% if field.name == "phone" %}
          <input id={{ field.name }} placeholder="手机" class="form-control input-lg" name={{ field.name }} style="border-radius:7px;border-color: #27bbef" type="text" value=
          {% if field.data %}
            field.data
          {% endif %}
          >
        {% endif %}
      {% endif %}

      
      {% if field.errors or field.help_text %}
        <span class="help-inline">
        {% if field.errors %}
          {{ field.errors|join(' ') }}
        {% else %}
          {{ field.help_text }}
        {% endif %}
        </span>
      {% endif %}
    </div>
  </div>
{% endif %}
{% endfor %}
</fieldset>
{% endmacro %}
